/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #0055A4; 
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 2rem auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0055A4; 
    border-bottom: 2px solid #0055A4;
    padding-bottom: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

select, input[type="text"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0; /* Sharp edges */
}

input[type="submit"] {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #0055A4; 
    border: none;
    border-radius: 0; /* Sharp edges */
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #00407d;
}

pre {
    background-color: #f4f4f4;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0; /* Sharp edges */
    white-space: pre-wrap;
    word-wrap: break-word;
}

a {
    color: #0055A4; 
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}


/* Spinner styles */
.spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #002395; 
    border-right: 6px solid #002395;
    border-bottom: 6px solid #fff;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
